.category-preview-container {
    display: flex;
    flex-direction: column;
    margin-top: 150px;


    .title {
        font-size: 40px;
        margin-top: 15px;
        cursor: pointer;
        color: dimgrey;

        @media screen and (max-width: 350px) {
            grid-template-columns: repeat(2, 1fr);
            row-gap: 20px;
            font-size: 30px;
        }
    }

    .categorySubtitle {
        font-size: 15px;
        color: #FE5BAC;
        margin-top: -10px;
    }

    .preview {
        padding-top: 20px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 20px;

        @media screen and (max-width: 800px) {
            grid-template-columns: repeat(2, 1fr);
            row-gap: 20px;
        }
    }

}